alabaster==0.7.13
Babel==2.12.1
certifi==2023.5.7
charset-normalizer==3.1.0
colorama==0.4.6
commonmark==0.9.1
doc8
docutils==0.18.1
idna==3.4
imagesize==1.4.1
importlib-metadata==6.6.0
Jinja2==3.1.2
livereload==2.6.3
Markdown==3.4.3
MarkupSafe==2.1.2
packaging==23.1
pbr==5.11.1
piccolo-theme==0.15.0
Pygments==2.15.1
pytz==2023.3
requests==2.30.0
restructuredtext-lint==1.4.0
six==1.16.0
snowballstemmer==2.2.0
Sphinx
sphinx-autobuild
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
stevedore
tomli
tornado
urllib3
zipp
